.MainSection > button {
  border: 1px solid blue;
  border-radius: 100%;
}

.Note {
  background-color: #efecec;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h3 {
  color: #10316b;
}