.SideBar * {
  box-sizing: border-box;
}

.SideBar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.SideBar > button {
  width: 100%;
  border: 1px solid blue;
}

li {
  color: black;
  background-color: #efecec;
  min-height: 40px;
  border-collapse: collapse;
  text-align: center;
}

.folder {
  margin: 0 0 10px;
  text-decoration: none;
  display: block;
}

#newFolderInput {
  width: 100%;
}

.active > li {
  transform: scale(1.05);
  color: #0b8457;
  font-weight: 800;
  text-transform: uppercase;
}
